# Python / Django
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
*.log

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE ve Editör Dosyaları
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Docker (Local override dosyaları gerekirse)
docker-compose.override.yml